{% extends 'shared/base.html' %}

{% block content %}

<div>
    <!--Header Section-->
    <header class="row" id="main-header">
        <div class="col-12" id="header-intro">
            <div id="title-intro">
                <h1>Stocks API</h1>
                <h1>By Alejandro Beltran</h1>
                <h1>And Nicolas Kuzak</h1>
            </div>
        </div>
        <div class="col-12" id="header-text">
            <h2>Stock Data retrieved from TD Ameritrade</h2>
        </div>
    </header>

{% endblock content %}